<?xml version="1.0" encoding="utf-8" ?>
<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  autoReload="true"
  throwExceptions="true"
  internalLogLevel="Trace"
  internalLogFile="${basedir}/NLog_Internal.log" >
	
	<!-- enable asp.net core layout renderer -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="NLog.MailKit"/>
	</extensions>

	<!-- the targets to write to -->
	<targets async="true">

		<target xsi:type="Console"
				name="Console"
				layout="${longdate} ${level:uppercase=true} ${logger} Trace: ${stacktrace} Msg: ${message}" />

		<target xsi:type="File"
				name="AllLog"
				fileName="${basedir}/NLog_API_AllLog_${shortdate}.log"
				layout="${longdate} ${level:uppercase=true} ${logger} Trace: ${stacktrace} Msg: ${message}"
              
				archiveFileName="NLog_API_AllLog.{#}.log"
				archiveEvery="Day"
				archiveNumbering="Rolling"
				maxArchiveFiles="7"
				concurrentWrites="true"
				keepFileOpen="false" />

		<target xsi:type="File"
				name="DebugLog"
				fileName="${basedir}/NLog_API_DebugLog_${shortdate}.log"
				layout="${longdate} ${level:uppercase=true} ${logger} Trace: ${stacktrace} Msg: ${message}"
              
				archiveFileName="NLog_API_DebugLog.{#}.log"
				archiveEvery="Day"
				archiveNumbering="Rolling"
				maxArchiveFiles="7"
				concurrentWrites="true"
				keepFileOpen="false" />

		<target xsi:type="Database"
					  name="DBTarget"
   				      connectionString="Server=127.0.0.1;User ID=sa;Password=TzWb0q98Cw8rE9hKVdN0;Database=UOCFP_qrfy;Encrypt=True;TrustServerCertificate=True"
					  commandText="INSERT INTO sysLogger (Project, CreatedOn,Message,Level,Exception,StackTrace,Logger,Url) VALUES (@project,@datetime,@msg,@level,@exception,@trace,@logger,@url)" >
		  <parameter name="@project" layout="FP-BTSD_WebApp" />
		  <parameter name="@datetime" layout="${date}" />
		  <parameter name="@msg" layout="${message}" />
		  <parameter name="@level" layout="${level}" />
		  <parameter name="@exception" layout="${exception}" />
		  <parameter name="@trace" layout="${stacktrace}" />
		  <parameter name="@logger" layout="${logger}" />
		  <parameter name="@url" layout="${aspnet-request-url}" />
		</target>

		<target xsi:type="Mail"
				  name="MailLog"
				  html="true"
				  addNewLines="true"
				  replaceNewlineWithBrTagInHtml="true"
				  encoding="UTF-8"
				  subject="QRFY Logger - ${level:uppercase=true} - [${date}] [${hostname}] [${aspnet-request-ip}]"
				  to="admin@qrfy.es"
				  from="developer@qrfy.es"
				  body="
						${date}         ${newline} ${newline} 
						${message}      ${newline} ${newline} 
						${stacktrace}   ${newline} ${newline} 
						${exception}    ${newline} ${newline}                
					   "
				  smtpUserName="developer@qrfy.es"
				  enableSsl="true"
				  smtpPassword="sdfsdfsdf"
				  smtpAuthentication="Basic"
				  smtpServer="lin135.loading.es"
				  smtpPort="465"
				  skipCertificateValidation="true" />
	</targets>

	<!-- 
    Fatal 	Something bad happened; application is going down
    Error 	Something failed; application may or may not continue
    Warn 	  Something unexpected; application will continue
    Info 	  Normal behavior like mail sent, user updated profile etc.
    Debug 	For debugging; executed query, user authenticated, session expired
    Trace 	For trace debugging; begin method X, end method X  
  -->

	<!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Trace" writeTo="AllLog" />
    <logger name="*" levels="Warn,Debug,Info" writeTo="DebugLog" />
    <logger name="*" levels="Error,Fatal" writeTo="MailLog,DBTarget" />
  </rules>

</nlog>
