<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>@ViewData["Title"]</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!-- ==== Favicon ==== -->
        <link rel="icon" href="~/favicon.png" type="image/png">
        <link rel="icon" href="~/favicon_16.png" type="image/png" sizes="16x16">
        <link rel="icon" href="~/favicon_32.png" type="image/png" sizes="32x32">
        <link rel="icon" href="~/favicon_64.png" type="image/png" sizes="64x64">

        <!-- Add local styles, mostly for plugins css file -->
        @if (IsSectionDefined("Styles"))
        {
            @RenderSection("Styles", required: false)
        }

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    </head>

    <body class="fixed-nav fixed-sidebar ">
        <div id="loaderlayout" style="display: block;"></div>
        <div id="wrapper">
            <partial name="_Navigation" /> <!-- Navigation -->
            <div id="page-wrapper" class="gray-bg" style="display:none">
                <partial name="_TopNavbar" /> <!-- Top Navbar -->
                @RenderBody()
            </div>
        </div>
        @RenderSection("scripts", required: false)
    </body>

</html>

