@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>iCIM+</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- ==== Favicon ==== -->
    <link rel="icon" href="~/favicon.png" type="image/png" />
    <link rel="icon" href="~/favicon_16.png" type="image/png" sizes="16x16" />
    <link rel="icon" href="~/favicon_32.png" type="image/png" sizes="32x32" />
    <link rel="icon" href="~/favicon_64.png" type="image/png" sizes="64x64" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link rel="stylesheet" href="~/css/spin.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/iLab.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/animate.css" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/spin/spin.js"></script>
    <script src="~/js/iLabSpinner.js" asp-append-version="true"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

</head>

<body class="gray-bg">
    <div class="middle-box text-center loginscreen  animated fadeInDown center-screen">
        <div>
            <div>
                <h1 class="logo-name" style="margin-top: -100px;text-align: left;">Loterías El Chorrillo</h1>
            </div>
            <h2 style="text-align: left;">Recuperar contraseña</h2>
            <form class="m-t" style="text-align: left;">
                <p>Introduce el email y te enviaremos las instrucciones para cambiar la contraseña. </p>
                <div class="form-group" style="margin-bottom:0.5rem!important">
                    <input id="username" type="email" autocomplete="off" class="form-control" placeholder="Email" required="" />
                </div>
                <button onclick="ChangePasswordAction()" type="button" class="btn btn-primary block full-width m-b">Enviar</button>
                <a href="#" onclick="RedirectToLogin()">Iniciar sesión</a>
            </form>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalCenterWarningInfo" tabindex="-1" role="dialog" aria-labelledby="modalCenterWarningTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Información</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" id="modal-ok" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script type="text/javascript">

    $(document).ready(function () {
        $.urlParam = function (name, url) {
            if (!url) {
                url = decodeURIComponent(window.location.href);
            }
            var results = new RegExp('[\\?&]' + name + '=([^&#]*)').exec(url);
            if (!results) {
                return undefined;
            }
            return results[1] || undefined;
        }
        $("#username").val($.urlParam('username'))
        setTimeout(function () { $('#username').focus(); });
    });

    function ChangePasswordAction()
    {
        var username = $("#username").val();
        if (username !== "" && username !== null) {
            var iLabSpinner = Rats.UI.LoadAnimation.start();
            var _Data = { "username": username };
            $.ajax({
                url: '@Url.Action("SendPasswordResetLink")',  //"/Account/SendPasswordResetLink",
                type: "POST",
                async: true,
                data: _Data,
                datatype: "json",
                success: function (data) {
                    $("#modalCenterWarningInfo .modal-title").text('Recuperar contraseña');
                    $("#modalCenterWarningInfo .modal-body").html('Hemos enviado un email al usuario <b>' + username + '</b> con un enlace para realizar el cambio de contraseña. El enlace será válido durante 15 minutos.');
                    $('#modalCenterWarningInfo').modal('show');
                    $('#modal-ok').off('click').on('click', function() { });
                    iLabSpinner.stop();
                    $('#username').val("");
                    setTimeout(function () { $('#username').focus(); });
                },
                always: function (data) { $('#username').focus(); iLabSpinner.stop(); },
                error: function (data) { $('#username').focus(); iLabSpinner.stop(); }
            });
        }
        else { setTimeout(function () { $('#username').focus(); }); }
    }

    function RedirectToLogin() {
        window.location.href = "/Account/Login?ReturnUrl=%2F";
    }
</script>

