@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>iCIM+</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- ==== Favicon ==== -->
    <link rel="icon" href="~/favicon.png" type="image/png" />
    <link rel="icon" href="~/favicon_16.png" type="image/png" sizes="16x16" />
    <link rel="icon" href="~/favicon_32.png" type="image/png" sizes="32x32" />
    <link rel="icon" href="~/favicon_64.png" type="image/png" sizes="64x64" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link rel="stylesheet" href="~/css/spin.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/iLab.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/animate.css" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/spin/spin.js"></script>
    <script src="~/js/iLabSpinner.js" asp-append-version="true"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body class="gray-bg">
    <div class="middle-box text-center loginscreen  animated fadeInDown center-screen">
        <div>
            <div>
                <h1 class="logo-name" style="margin-top: -100px;text-align: left;">iCIM+</h1>
            </div>
            <h2 style="text-align: left;">Recuperar contraseña</h2>
            <form class="m-t" style="text-align: left;">
                <p>Ahora puedes introducir la nueva contraseña para el usuario <b>@ViewBag.username</b></p>
                <div>
                    <div class="field-value">
                        <input id="newpassword" onkeyup="runPassword(this.value, 'passStrengthI', 'passStrengthP')" type="password" autocomplete="off" class="form-control" placeholder="Contraseña" required="" style="width:52%; float:left;">
                        <span id="passStrength" class="password-strength password-strength-level" style="width: 45%; margin-left: 10px;">
                            <i id="passStrengthI"></i>
                            <b id="passStrengthP">Muy poco segura</b>
                        </span>
                    </div>
                    <div class="field-value">
                        <input id="newpasswordVal" onkeyup="runPassword(this.value, 'passStrengthValI', 'passStrengthValP')" type="password" autocomplete="off" class="form-control" placeholder="Verificación Contraseña" required=""  style="width:52%; float:left;">
                        <span id="passStrengthVal" class="password-strength password-strength-level" style="width: 45%; margin-left: 10px;">
                            <i id="passStrengthValI"></i>
                            <b id="passStrengthValP">Muy poco segura</b>
                        </span>
                    </div>
                </div>
                <button onclick="SaveNewPassword()" type="button" autocomplete="off" class="btn btn-primary block full-width m-b" style="margin-top: 15px;">Guardar</button>
                <div>
                    <div style="text-align: left;width: 40%;float: left;">
                        <a href="#" onclick="RedirectToLogin()">Iniciar sesión</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="modal fade" id="modalCenterWarningInfo" tabindex="-1" role="dialog" aria-labelledby="modalCenterWarningTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Información</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" id="modal-ok" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalCenterError" tabindex="-1" role="dialog" aria-labelledby="modalCenterWarningTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Error</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" id="modal-Err" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script type="text/javascript">

    $(document).ready(function () {
        setTimeout(function () { $('#newpassword').focus(); });
    });

    function RedirectToLogin() {
        window.location.href = "/Account/Login?ReturnUrl=%2F";
    }

    function validarPass()
    {
        var result = false;
        if ($("#newpassword").val() !== "" && $("#newpasswordVal").val() !== "") {
            if ($("#newpassword").val() === $("#newpasswordVal").val()) { result = true; }
            else {
                $("#modalCenterError .modal-title").text('Error.');
                $("#modalCenterError .modal-body").text('Contraseña de validación es diferente de contraseña.');
                $('#modalCenterError').modal('show');
                $('#modal-Err').click(function () {
                    $("#newpassword").val("");
                    $("#newpasswordVal").val("");
                    setTimeout(function () { $('#newpassword').focus(); });
                });
            }
        }
        else {
            $("#modalCenterError .modal-title").text('Error.');
            $("#modalCenterError .modal-body").text('Introduce un valor válido en contraseña.');
            $('#modalCenterError').modal('show');
            $('#modal-Err').click(function () { setTimeout(function () { $('#newpassword').focus(); }); });
        }
        return result;
    }

    function SaveNewPassword()
    {
        if (validarPass()) {
            var iLabSpinner = Rats.UI.LoadAnimation.start();
            var data = new FormData();
            data.append("_KeyMail", "@ViewBag.username");
            data.append("_KeyPass", $("#newpassword").val());
            $.ajax({
                type: 'POST',
                url: "/Account/RenewPassword",
                async: true,
                data: data,
                processData: false,
                contentType: false,
                success: function (data, status, xhr) {
                    iLabSpinner.stop();
                    $("#modalCenterWarningInfo .modal-title").text('Recuperar contraseña');
                    $("#modalCenterWarningInfo .modal-body").html('La contraseña se ha cambiado correctamente. Ahora ya puedes volver a entrar mediante el inicio de sesión.');
                    $('#modalCenterWarningInfo').modal('show');
                    $('#modal-ok').off('click').on('click', function() {
                        window.location.href = "/Account/Login?ReturnUrl=%2F";
                    });
                    
                },
                always: function (data) { },
                error: function (data) {
                    iLabSpinner.stop();
                    $("#modalCenterError .modal-title").text('Error.');
                    $("#modalCenterError .modal-body").text('Se ha producido un error al cambiar la contraseña. Vuelve a probar pasados unos minutos.');
                    $('#modalCenterError').modal('show');
                    $('#modal-Err').click(function () {
                        $("#newpassword").val("");
                        $("#newpasswordVal").val("");
                        setTimeout(function () { $('#newpassword').focus(); });
                    });
                }
            });
        }
    }

    function CheckPasswordStrength(password, inputId)
    {
        var password_strength = document.getElementById(inputId);
        var pass_strength_Level = document.getElementById("passStrength");

        //if textBox is empty
        if(password.length==0){
            password_strength.innerHTML = "";
            return;
        }

        //Regular Expressions
        var regex = new Array();
        regex.push("[A-Z]"); //For Uppercase Alphabet
        regex.push("[a-z]"); //For Lowercase Alphabet
        regex.push("[0-9]"); //For Numeric Digits
        regex.push("[$$$$!%*#?&]"); //For Special Characters

        var passed = 0;

        //Validation for each Regular Expression
        for (var i = 0; i < regex.length; i++) {
            if((new RegExp (regex[i])).test(password)){
                passed++;
            }
        }

        //Validation for Length of Password
        if(passed > 2 && password.length > 8){
            passed++;
        }

        //Display of Status
        var color = "";
        var passwordStrength = "";
        switch(passed){
            case 0:
              	break;
            case 1:
                // password-strength-very-weak
                passwordStrengthType = "Muy poco segura";
                pass_strength_Level = 0;
                color = "#ed6060";
                $("passStrength").addClass('password-strength-very-weak');
                break;
            case 2:
                // password-strength-weak
                passwordStrengthType = "Poco segura";
                pass_strength_Level = 0;
                color = "#e66383";
                $("passStrength").addClass('password-strength-weak');
                break;
            case 3:
                //password-strength-medium
                passwordStrengthType = "Media";
                pass_strength_Level = 0;
                color = "#eeb248";
                $("passStrength").addClass('password-strength-medium');
                break;
            case 4:
                // password-strength-strong
                passwordStrengthType = "Segura";
                pass_strength_Level = 0;
                color = "#86c939";
                $("passStrength").addClass('password-strength-strong');
                break;
            case 5:
                // password-strength-very-strong
                passwordStrengthType = "Muy segura";
                pass_strength_Level = 0;
                color = "#63ade1";
                $("passStrength").addClass('password-strength-very-strong');
                break;
        }
        //password_strength.innerHTML = passwordStrength;
        //password_strength.style.color = color;
    }

    var m_strUpperCase = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
    var m_strLowerCase = "abcdefghijklmnopqrstuvwxyz";
    var m_strNumber = "0123456789";
    var m_strCharacters = '!@@#$%^&*?_~';

    function checkPassword(strPassword)
    {
        // Reset combination count
        var nScore = 0;

        // Password length
        // -- Less than 4 characters
        if (strPassword.length < 5)
        {
            nScore += 5;
        }
        // -- 5 to 7 characters
        else if (strPassword.length > 4 && strPassword.length < 8)
        {
            nScore += 10;
        }
        // -- 8 or more
        else if (strPassword.length > 7)
        {
            nScore += 25;
        }

        // Letters
        var nUpperCount = countContain(strPassword, m_strUpperCase);
        var nLowerCount = countContain(strPassword, m_strLowerCase);
        var nLowerUpperCount = nUpperCount + nLowerCount;
        // -- Letters are all lower case
        if (nUpperCount == 0 && nLowerCount != 0) 
        { 
            nScore += 10; 
        }
        // -- Letters are upper case and lower case
        else if (nUpperCount != 0 && nLowerCount != 0) 
        { 
            nScore += 20; 
        }

        // Numbers
        var nNumberCount = countContain(strPassword, m_strNumber);
        // -- 1 number
        if (nNumberCount == 1)
        {
            nScore += 10;
        }
        // -- 3 or more numbers
        if (nNumberCount >= 3)
        {
            nScore += 20;
        }

        // Characters
        var nCharacterCount = countContain(strPassword, m_strCharacters);
        // -- 1 character
        if (nCharacterCount == 1)
        {
            nScore += 10;
        }   
        // -- More than 1 character
        if (nCharacterCount > 1)
        {
            nScore += 25;
        }

        // Bonus
        // -- Letters and numbers
        if (nNumberCount != 0 && nLowerUpperCount != 0)
        {
            nScore += 2;
        }
        // -- Letters, numbers, and characters
        if (nNumberCount != 0 && nLowerUpperCount != 0 && nCharacterCount != 0)
        {
            nScore += 3;
        }
        // -- Mixed case letters, numbers, and characters
        if (nNumberCount != 0 && nUpperCount != 0 && nLowerCount != 0 && nCharacterCount != 0)
        {
            nScore += 5;
        }
        return nScore;
    }

    function runPassword(strPassword, ObjBar, ObjTxt) 
    {
        // Check password
        var nScore = checkPassword(strPassword);
        // Get controls
        var ctlBar = document.getElementById(ObjBar); 
        var ctlText = document.getElementById(ObjTxt);
        if (!ctlBar || !ctlText) return;

        // Set new width
        // ctlBar.style.width = (nScore*1.25>100)?100:nScore*1.25 + "%";

        if (nScore >= 80)
        {
            var strText = "Muy Segura";
            var strColor = "#008000";
            ctlBar.style.width = "100%";
        }
        // -- Strong
        else if (nScore >= 60)
        {
            var strText = "Segura";
            var strColor = "#006000";
            ctlBar.style.width = "75%";
        }
        // -- Average
        else if (nScore >= 40)
        {
            var strText = "Media";
            var strColor = "#e3cb00";
            ctlBar.style.width = "60%";
        }
        // -- Weak
        else if (nScore >= 20)
        {
            var strText = "Segura";
            var strColor = "#Fe3d1a";
            ctlBar.style.width = "50%";
        }
        // -- Very Weak
        else
        {
            var strText = "Muy poco segura";
            var strColor = "#e71a1a";
            ctlBar.style.width = "20%";
        }

        if(strPassword.length == 0)
        {
            ctlBar.style.backgroundColor = "";
            ctlText.innerHTML = "Muy poco segura";
        }
    else
        {
            ctlBar.style.backgroundColor = strColor;
            ctlText.innerHTML = strText;
        }
    }

    // Checks a string for a list of characters
    function countContain(strPassword, strCheck)
    { 
        var nCount = 0;
        for (i = 0; i < strPassword.length; i++) 
        {
            if (strCheck.indexOf(strPassword.charAt(i)) > -1) { nCount++;} 
        } 
        return nCount; 
    }

</script>

